

<h1 class="accent-text">Question: <%= @question.body %></h1>

<a href="/questions/<%= @question.id %>/vote">
  <div class="icon-div heart-div"><div class="fa fa-heart fa-2x"> </div>this Question!
</a>
<br>
<br>

<a id="question_comment_btn" href="/questions/<%= @question.id %>/responses">Comment on Question</a>

<ul id="question-comment-ul">
  <% @question_responses.each do |question_response| %>
    <li class="question-comment-list">
      Comment: <p class="comment-text"><%= question_response.body %></p><br>
      <span class="written-by">Written by <%= question_response.user.email %></span>
    </li>
  <% end %>
</ul>

<% counter = 0 %>


<ul id="answers-list">
  <% @answers.each do |answer| %>
      <li>
        <% if @star == answer.id %>
          <span>BEST</span>
        <% end %>
        <% if @question.id == current_user.id %>
          <a href="/questions/<%= @question.id %>/answers/<%= answer.id %>/best_answer">Best Answer</a>
        <% end %>
        Answer: <%= answer.body %>
        <br>
        <span>Written by <%= answer.user.email %></span><br>
        <a class="new-answer-comment" href="/answers/<%= answer.id %>/responses">Comment on Answer</a>
        <span id="space-for-comment-box"></span>
        <ul>
          <% @answer_responses[counter].each do |response| %>
            <li class="answer-comment-list">
              Answer Comment: <%= response.body %><br>
              <span>Written by <%= response.user.email %></span>
            </li>
          <% end %>
        </ul>
        <% counter += 1 %>
      </li>
  <% end %>
</ul>

<a id="new-answer" href="/questions/<%= @question.id %>/answers">Answer a Question</a>

