<li class="one-answer-li">
  <% if question.id == current_user.id %>
    <a href="/questions/<%= question.id %>/answers/<%= @answer.id %>/best_answer">Best Answer</a>
  <% end %>
  <span class="answer-body">Answer: <%= @answer.body %></span>
  <br>
  <span class="written-by">Written by <%= @answer.user.email %></span><br>
  <a class="new-answer-comment" href="/answers/<%= @answer.id %>/responses">Comment on this Answer</a>
</li>
