
<h1>TEAM AWESOME OVERFLOW!</h1>

<form>
  <% text = "enter content" %>
  <textarea type="text" rows="4" cols="50" name="body" placeholder="<%= text %>"></textarea>
  <br>
  <input type="submit" value="Submit" />
</form>

<% @questions.each do |question| %>
  <li>
    <a href="/questions/<%= question.id %>/vote">Up Arrow</a>
    <a href="/questions/<%= question.id %>"><%= question.body %></a>
    <span>Written by <%= question.user.email %></span>
  </li>
<% end %>

