
<h1>TEAM AWESOME OVERFLOW!</h1>

<form method="POST" action="/questions">
  <%= erb :_form %>
</form>


<% @questions.each do |question| %>
  <li>
    <%= question.votes.count %> Upvotes!
    <%= question.answers.count %> Answers!
    <a href="/questions/<%= question.id %>/vote">Up Arrow</a>
    <% if question.body.length > 40 %>
      <a href="/questions/<%= question.id %>"><%= question.body[0..40] %> ...</a>
    <% else %>
      <a href="/questions/<%= question.id %>"><%= question.body %></a>
    <% end %>
    <span>Written by <%= question.user.email %></span>
  </li>
<% end %>

