
<h1>TEAM AWESOME OVERFLOW!</h1>

<% @questions.each do |question| %>
  <li>
    <% if question.body.length > 40 %>
      <a href="/questions/<%= question.id %>"><%= question.body[0..40] %> ...</a>
    <% else %>
      <a href="/questions/<%= question.id %>"><%= question.body %></a>
    <% end %>

    <span>Written by <%= question.user.email %></span>
  </li>
<% end %>

