
<h1 class="accent-text">OVERFLOW WITH LOVE!</h1>

<form method="POST" action="/questions">
  <%= erb :_form %>
</form>


<% @questions.each do |question| %>
  <li>
    <div class="icon-div eye-div"><%= question.view_count %> <div class="fa fa-eye ">s</div></div>
    <div class="icon-div heart-div"><%= question.votes.count %> <div class="fa fa-heart ">s</div></div>
    <div class="icon-div answer-div"><%= question.answers.count %> <div class="fa fa-lightbulb-o ">s</div></div>
    <% if question.body.length > 40 %>
      <a href="/questions/<%= question.id %>"><%= question.body[0..40] %> ...</a>
    <% else %>
      <a href="/questions/<%= question.id %>"><%= question.body %></a>
    <% end %>
    <span>Written by <%= question.user.email %></span>
  </li>
<% end %>

